* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0b2434;
    padding: 20px;
}

main {
    background-color: #ffffff;
    height: 100vh;
    border-radius: 5px;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}